.about{
	padding: 5vh 20px;
	display: flex;
	flex-grow: 1;
	&__wrapper{
		display: grid;
		grid-template-columns: 1fr 4fr;
		gap: 10px;
		font-size: 15px;
	}
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	position: static;
	border-radius: 2px;
	padding: 20px;
	&__title{
		font-size: 35px;
		margin-bottom: 10px;
	}
	&__header{
		font-size: 35px;
		margin-bottom: 30px;
	}
	&__navigation{
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		gap: 20px;
	}
}

.info-point{
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 15px;
	padding: 5px 10px;
	width: 100%;
	cursor: pointer;
	font-size: 18px;
	&__image{
		&-container{
			width: 30px;
			height: 30px;
		}
	}
}

.info-content{
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 40px;
}

.education{
	width: 100%;
	&__link-container{
		display: flex;
		flex-direction: column;
		
		padding: 20px 60px 20px 30px;	
	}
	&__header{
		color: #E07C08;
	}
	&__description{
		width: 100%;
		margin-bottom: 20px;
		color: $mainColor;
	}
	&__institution{
		width: 100%;
		font-size: 25px;
		
	}
	&-list{
		display: flex;
		flex-direction: column;
		gap: 15px;
		&__item{
			border-bottom: 1px solud #a8b2d1;
			margin-bottom: 20px;
			background-color: $secondColor;
		}
	}
	&__button{
		color: #ffffff !important;
		border: 1px solid #a8b2d1 !important;
		border-radius: 0 !important; 
		width: 150px;
		&:hover{
			border: 1px solid $mainColor !important;
			color: $mainColor	!important;
		}
	}
}

.hobbies{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hobbie{
	display: flex;
	align-items: center;
	justify-content: start;
	background-color: #a8b2d1;
	border-radius: 6px;
	font-size: 25px;
	padding: 15px 25px;
	gap: 15px;
	color: $bgColor;
	&__image-container{
		width: 60px;
		height: 60px;
	}
	
}

.biography{
	&__image{
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}
	&-slider{
		padding: 30px 30px;
		border-radius: 8px;
		background-color: #112240;
		margin: 0 auto 20px;
		
		border: 1px solid #E07C08;	
	}
	&-container{
		font-size: 18px;
	}
	&_green{
		color: $mainColor;
		font-size: 23px;
	}
	&_violet{
		color: #B961FF;
	}
	&_orange{
		color: #E07C08;
	}
}