.about{
	padding: 5vh 0;
	display: flex;
	flex-grow: 1;
	&__wrapper{
		display: grid;
		grid-template-columns: 200px 1fr 1fr;
		border: 1px solid $mainColor;
	}
}


.info-point{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 5px 10px;
	border: 1px solid $mainColor;
}