/*Import Other Styles*/
@import "./core/fonts";
@import "./core/variables";
@import "./components/index";

/*Main Styles*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

ul,
ol {
	list-style: none;
}
button {
	background: transparent;
	border: none;
}
body {
	background: $bgColor;
	font-family: $mainFont;
	font-weight: $mainWeight;
	font-size: $mainSize;
	color: #a8b2d1;
}

.layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
 }

 .loader{
	width: 100vw;
	height:100vh;
	position: absolute;
	top:0;
	left:0;
	background-color: $bgColor;
	display: flex;
	align-items: center;
	justify-content: center ;
	&__circle{
		border-radius: 50%;
		border: 5px dashed #a8b2d1;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: rotation 2s forwards;
		width: 200px;
		height: 200px;
		
	}
	&__img{
		width:200px;
		height: 200px;
		position: absolute;
	}
 }

@keyframes rotation{
	from{
		transform:rotate(0deg)
	}
	to{
		transform: rotate(180deg)
	}
}
@keyframes clacksAnim{
	0%{
		transform: scale(0.9);
	}
	20%{
		transform: scale(0.8);
	}
	40%{
		transform: scale(1);
	}
	60%{
		transform: scale(0.8);
	}
	80%{
		transform: scale(1);
	}
	100%{
		transform: scale(0.9);
	}
}
