/*Import Other Styles*/
@import "./core/fonts";
@import "./core/variables";
@import "./components/index";

/*Main Styles*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}
button {
  background: transparent;
  border: none;
}
body {
  background: $bgColor;
  font-family: $mainFont;
  font-weight: $mainWeight;
  font-size: $mainSize;
  color: #a8b2d1;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &__text {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
  &__circle {
    border-radius: 50%;
    border: 5px dashed #a8b2d1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    animation: 1s forwards circleGrow;
    animation-delay: 2s;
  }
  &__img {
    width: 200px;
    height: 200px;
    position: absolute;
  }
}
.circle__inner {
  border-radius: 50%;
  border: 6px dashed #a8b2d1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  animation: rotation 3s forwards;
}


@keyframes circleGrow {
  to {
    opacity: 0;
    width: 500px;
    height: 500px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes clacksAnim {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}


$background: $bgColor;
$foreground: white;

@mixin glitchText($offset, $text) {
  content: $text;
  position: absolute;
  left: $offset;
  top: $offset;
  clip: rect(0, 830px, 0, 0);
  background-color: $background;
  color: $foreground;
  animation: glitch 3s infinite alternate-reverse;
}

.glitch-loader {
  color: $background;
  color: $mainColor;
  animation: fadeWhite 3s forwards;
  font-size: 15px;
  &:after {
    @include glitchText(-2px, "Portfolio");
  }
}

@keyframes fadeWhite {
  100% {
    color: #b961ff;
  }
}

@keyframes glitch {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
