.button {
	border-radius: 10px;
	color: $mainColor;
	border: 1px solid $mainColor;
	font-weight: $secWeight;
	font-size: 23px;
	line-height: 34px;
	padding: 5px 15px;
	cursor: pointer;
	transition: 0.4s all linear;
	&:hover{
		background-color:#A8B2D1
	}
}
