.contacts {
	display: flex;
	flex-grow: 1;
	padding: 15vh 0;
	@media (max-width: 1350px) {
		padding: 15vh 3vw;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 60px;
		line-height: 90px;
		color: #d9d9d9;
		margin-bottom: 45px;
		@media (max-width: 400px) {
			font-size: 30px;
			margin-bottom: 20px;
		}
	}
	&__description {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		color: #ffffff;
		margin-bottom: 45px;
	}
}
.form {
	font-family: "Poppins", sans-serif;
	position: relative;	
	&__container {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		column-gap: 40px;
		row-gap: 50px;
		width: 100%;
		margin-bottom: 40px;
		@media(max-width: 400px){
			grid-template-columns: repeat(1, minmax(100px, 1fr));
			row-gap: 50px;
		}
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		margin: 0 auto;
		max-width: 750px;
		background: $bgColor;
		@media(max-width:800px){
			padding: 0 40px;
		}
	}
	&__header {
		font-weight: 700;
		font-size: 60px;
		line-height: 90px;
		display: flex;
		align-items: center;
		color: #d9d9d9;
		margin-bottom: 20px;
		@media(max-width: 450px){
			font-size: 35px;
			margin-bottom: 5px;
		}
	}
	&__button {
		border: 1px solid #fff;
		color: #fff;
	}
	&__buttons {
		display: flex;
		justify-content: space-evenly;
		gap: 50px;
		width: 100%;
	}
	&__description {
		font-weight: 400;
		font-size: 23px;
		line-height: 34px;
		color: #a8b2d1;
		margin-bottom: 40px;
		display: flex;
	}
	&__popup{
		display: flex;
		flex-direction: column;
		margin: 25vh 0;
		align-items: center;
		background-color: $secondColor;
		padding: 20px 40px;
		border-radius: 10px;
		border: 1px solid $mainColor;
		gap: 5px;
		z-index: 3;
		position:relative;
		
		&-text{
			font-size: 40px;
		}
		&-image{
			width: 100px;
			height: 100px;
			cursor: pointer;
		}
	}
}

.popup__overlay{
	position: absolute;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(5px);
	left:0;
	top: 0;
	z-index: 1;
}