@import "../../../components/Game/index.scss";
@import "../../../components/Button/index.scss";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background: #020c1b;
}

.layout {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.header {
	background-color: #020c1b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 35px 80px;
	&__nav {
		display: flex;
		gap: 50px;
		align-items: center;
		.nav__item {
			text-decoration: none;
			color: #fff;
			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 23px;
			line-height: 34px;
		}
		.header__button {
			text-decoration: none;
			color: #64ffda;
			border: 1px solid;
			border-radius: 2px;
			padding: 3px;
			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 23px;
			line-height: 34px;
		}
	}
}

.intro {
	max-width: 1200px;
	margin: 0 auto;
	&__name {
		font-family: "Poppins";
		font-weight: 700;
		font-size: 60px;
		line-height: 90px;
		display: flex;
		align-items: center;
		color: #d9d9d9;
	}
	&__subtitle {
		font-family: "Inter";
		font-weight: 600;
		font-size: 35px;
		line-height: 73px;
		display: flex;
		align-items: center;
		color: #a8b2d1;
	}
	&__title {
		font-family: "Poppins";
		font-weight: 300;
		font-size: 25px;
		line-height: 38px;
		color: #64ffda;
	}
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__wrapper {
		padding: 73px 0px 143px; //обертка для флекс роу : контент+крестикинолики;
		display: flex;
		gap: 91px;
		align-items: center;
		justify-content: space-between;
	}
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        max-width: 650px;
        font-style: normal;   
    }
    &__description{
        font-family: "Poppins";
        font-weight: 400;
        font-size: 23px;
        line-height: 34px;
        color: #a8b2d1;
        margin-bottom: 40px;
    }
	&__button{
		max-width: 150px;
	}
}

.skills{
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 100px 0px;
}

.skill{
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	color: #fff;
	&__name{
		font-family: "Poppins";
        font-size: 18px; 
        color: #a8b2d1;
	}
	&__container{
		border:1px solid #a8b2d1;
		width: 300px;
		height: 15px;
		display: flex;
	}
	&__completion{
		background-color: #64ffda;
		width: 100%;
	}
}

.about{
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	justify-content: center;
	margin: 0 auto;
	padding: 50px 0 50px;
	&__header-container{
		display: flex;
		gap: 20px;
		align-items: center;
		margin-bottom: 46px;
	}
	&__header{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
	color: #F5F5F5;
	}
	&__stripe{
		width: 50%;
		height: 1px;
		border: 1px solid rgba(168, 178, 209, 0.5);
	}
	&__photo{
		max-width: 360px;
		height: auto;
	}
	&__wrapper{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		color: #A8B2D1;
		display: flex;
		gap: 20px;
	}
	&__content{
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__technologies{
		display: flex;
		flex-wrap: wrap;
		color:#64ffda;
		gap: 20px;
		max-width: 350px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		list-style-type:none
	}

}