.projects {
	padding: 2rem 0;
	&__wrapper {
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 33px;
		max-width: 1300px;
		@media (max-width: 1050px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			max-width: 675px;
		}
	}
	@media (max-width: 1376px) {
		padding: 2rem 3vw;
	}
}

.project {
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: #112240;
	&__content {
		margin-bottom: 15px;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 45px;
	}
	&__header {
		margin-bottom: 28px;
		font-size: 35px; 
		line-height: 38px;
		color: #a8b2d1;
		display: flex;
		align-items: baseline;
	}
	&__description {
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		color: #d9d9d9;
		min-height: 81px;
	}
	&__technologies {
		display: flex;
		column-gap: 20px;
		flex-wrap: wrap;
		margin-top: auto;
	}
	&-popup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 70vw;
		height: 85vh;
		background-color: $secondColor;
		position: absolute;
		top: 7%;
		left: 15vw;
		border: 1px solid #ffffff;
		z-index: 2;
		padding: 25px;
		&__technologies{
			display: flex;
			margin-bottom: 20px;
		}
		&__header {
			text-align: center;
			font-size: 35px;
			margin-bottom: 20px;
			padding: 5px;
			
		}
		&__description{
			margin-bottom: 20px;
			padding: 5px;
			
		}
		&__overlay {
			position: absolute;
			width: 100vw;
			height: 100vh;
			backdrop-filter: blur(2px);
			left: 0;
			top: 0;
			z-index: 1;
		}
		&__preview {
			height: 450px;
			width: 50%;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		&__content {
			display: flex;
			margin-top: auto;
			gap: 25px;
			@media (max-width: 1000px) {
				flex-direction: column;
			}
			&__description {
				max-width: 300px;
			}
		}
		&__buttons{
			display: flex;
			gap: 20px;
		}
		&__button{
			border:1px solid #ffffff;
			color: #ffffff;
			display: flex;
			align-items: center;
			gap: 5px;
			&:hover{
				box-shadow:0 0 10px 5px #B961FF;
				color: #B961FF;
				border: 1px solid #B961FF
			}
		}
		&_green{
			color: $mainColor;
			font-size: 20px;
		}
	}
}
