.intro{
    max-width: 1200px;
    margin: 0 auto
}
.intro__wrapper{
   padding: 73px 0px 143px;//обертка для флекс роу : контент+крестикинолики;
   display: flex;
   gap: 90px;
   align-items: center;
   justify-content: space-between;
}
.intro__content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 650px;
    font-style: normal;
    .intro__title{
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 25px;
        line-height: 38px;
        color: #64FFDA;
    }
    .intro__container{
        display: flex;
        flex-direction: column;
        .intro__name{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 60px;
            line-height: 90px;
            display: flex;
            align-items: center;
            color: #D9D9D9;
        }
        .intro__subtitle{
            font-family: 'Inter';
            font-weight: 600;
            font-size:35px;
            line-height: 73px;
            display: flex;
            align-items: center;
            color: #A8B2D1;
        }
    }
    .intro__description{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        line-height: 34px;
        color: #A8B2D1;
        margin-bottom: 40px;
    }
    .intro__button{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        line-height: 34px;
        color: #64FFDA;
        padding: 12px 94px;
        border: 1px solid #64FFDA;
        border-radius: 10px;
        width: 150px;
        text-align: center;
    }
}

